@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.padding {
  padding: 20px;
}

.clearfix {
  display: table;
  overflow: hidden;
}
.clearfix:before {
  content: " ";
  display: block;
}

.font-size-small {
  font-size: 0.65em;
}

.chat-wrapper {
  min-width: 400px;
  width: 100%;
  display: table;
  overflow: hidden;
}
.chat-wrapper:before {
  content: " ";
  display: block;
}
.chat-wrapper .chat-content {
  background-color: #fff;
}
.chat-wrapper .chat-image {
  float: left;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.chat-wrapper .chat-image.chat-image-default {
  width: 60px;
  height: 60px;
}
.chat-wrapper .chat-message {
  margin-bottom: 20px;
  width: 100%;
  display: table;
  overflow: hidden;
}
.chat-wrapper .chat-message:before {
  content: " ";
  display: block;
}
.chat-wrapper .chat-message:last-of-type {
  margin-bottom: 0;
}
.chat-wrapper .chat-message .chat-message-wrapper {
  max-width: 70%;
  display: table;
  margin: 0 20px;
  padding-top: 10px;
  position: relative;
}
.chat-wrapper .chat-message .chat-message-wrapper:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  top: 20px;
  position: absolute;
  z-index: 2;
}
.chat-wrapper .chat-message .chat-message-wrapper p {
  padding: 10px 20px;
  color: #fff;
  border-top: 1px solid;
}
.chat-wrapper .chat-message .chat-message-wrapper p:first-of-type {
  border-top: 0 !important;
}
.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper,
.chat-wrapper .chat-message.chat-message-recipient .chat-message-content {
  float: left;
}
.chat-wrapper .chat-message.chat-message-recipient .chat-message-wrapper:before {
  left: -20px;
  border-right-color: #91D98A;
}
.chat-wrapper .chat-message.chat-message-recipient p {
  background-color: #91D98A;
  border-top-color: #7dc576;
}
.chat-wrapper .chat-message.chat-message-sender .chat-message-wrapper,
.chat-wrapper .chat-message.chat-message-sender .chat-message-content {
  float: right;
}
.chat-wrapper .chat-message.chat-message-sender .chat-message-wrapper:before {
  right: -20px;
  border-left-color: #8AC0D9;
}
.chat-wrapper .chat-message.chat-message-sender p {
  background: #8AC0D9;
  border-top-color: #76acc5;
}
.chat-wrapper .chat-message.chat-message-sender img {
  float: right;
}
.chat-wrapper .chat-message .chat-message-content {
  display: table;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.chat-wrapper .chat-message .chat-message-content:before {
  content: " ";
  display: block;
}
.chat-wrapper .chat-message .chat-details {
  clear: both;
  width: 100%;
  display: table;
  overflow: hidden;
}
.chat-wrapper .chat-message .chat-details:before {
  content: " ";
  display: block;
}
.chat-wrapper .chat-message .chat-details span {
  margin-right: 4px;
  color: #bbb;
}

.sendtag{
	width: 84%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid pink;
    font-size: 16px;
}

.sendbtn{
	width: 15%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background: #2235a2;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.questionsul{
	list-style:none;
	margin:0;
	padding:0;
}

li{
	cursor:pointer;
}

.questionlist{
    width: 100%;
    height: 35px;
    background: #f5f3f3;
    border-radius: 5px;
    border: 1px solid #e7dfdf;
    cursor: pointer;
    color: #14205f;
    font-weight:bold;
}

.header{
	border-bottom: inset;
	font-size:20px;
}