@charset "UTF-8";

:root {
  font-size: 62.5%;
}

.messagingApp {
  position: relative;
  height: 96vh;
  width: 100vw;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  display: flex;
  overflow: hidden;
  background: white;
}

.appOverlay {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.messagingApp--navOpen .appOverlay {
  opacity: 0.3;
  pointer-events: all;
}

.messagingApp--navOpen .chatList {
   transform: translateX(0%);
}

.chatList {
  width: 25%;
  height: inherit;
  background: #f9f9f9;
  position: absolute;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in-out;
}

.chatDetails {
  width: 100%;
  height: inherit;
}

.messageWrapper {
  width: inherit;
  height: calc(100% - 9rem);
  overflow: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.textBoxWrapper {
  height: 1000px;
  width: inherit;
  background: #fff;
  position: relative;
  border-top: 1px solid #eee;
}

.messages {
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: inherit;
  min-height: 100%;
}

.chat {
  width: 100%;
  border-radius: 0.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1rem;
  word-wrap: break-word;
}

.chat ~ .chat {
  margin-top: 2rem;
}

.chat.me {
  margin-left: auto;
  background-color: #5C6BC0;
  color: white;
}

.chat::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #ddd;
  transform: skew(-45deg);
  position: absolute;
  top: 100%;
  left: 0;
}

.chat.me::after {
  border-top-color: #5C6BC0;
  right: 0;
  left: auto;
  transform: skew(45deg);
}

/* .chat:nth-child(even){
  margin-left: auto;
  background-color: #4e7e9a;
  color: white;
}
 */
.textbox {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
}

.buttonGroup {
  height: 4.5rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.sendButton {
  background:;
  width: 4.5rem;
  height: inherit;
  border-radius: 50%;
  background: #E65100 url(https://www.materialui.co/materialIcons/content/send_white_192x192.png) no-repeat;
  background-position: center;
  background-size: 2.4rem;
  border: 0;
  cursor: pointer;
}

.textBoxContainer {
    height: calc(100% - 4rem);
    width: calc(100% - 10rem);
    overflow: auto;
    box-sizing: border-box;
    padding: 0 0 0 2rem;
    transform: translateY(2rem);
}

.emojiButton {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0;
  background: url(https://cdn2.iconfinder.com/data/icons/picons-basic-1/57/basic1-119_smiley_neutral-512.png) no-repeat;
  background-size: 2rem;
  background-position: center;
  cursor: pointer;
}

.info ~ .chat,
.chat ~ .info {
  margin-top: 2rem;
}

.info {
  background: #ddd;
  width: 60%;
  padding: 0.7rem 0;
  border-radius: 0.4rem;
  text-align: center;
  margin: 0 auto;
  font-size: 0.8em;
}

.chatListHeader {
  background: white;
  height: 6rem;
  padding: 0 2rem;;
}

.chatTitle {
  margin: 0;
  line-height: 6rem;
  font-size: 2rem;
  font-weight: 400;
  color: #5d2f1f;
}

.chats {
  height: calc(100% - 12rem);
  overflow: auto;
}

.chatUser {
  display: flex;
  padding: 1.2rem 2rem;
  cursor: pointer;
}

.chatUser ~ .chatUser{
  border-top: 1px solid #eee;
}

.chatUser--active {
  background: #eee !important;
}

.chatUser:hover {
  background: #f4f4f4;
}

.chatUserIcon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: #303F9F;
  color: white;
  overflow: hidden;
  text-align: center;
  line-height: 4.5rem;
}

.chatUserIcon img{
  display: block;
  width: 100%;
}

.chatUserDetails {
  position: relative;
  flex-grow: 1;
  padding-left: 2rem;
}

.chatUsername {
  line-height: 4.5rem;
}

.chatUserid {
  line-height: 4.5rem;
}

.lastMessageTime {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1rem;
}

.chatOptions {
  height: 6rem;
}

.search {
  box-sizing: border-box;
  height: 4rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: calc(100% - 3rem);
  border-radius: 2rem;
  border: 1px solid #eee;
  padding: 0 2rem;
  font-size: 1.4rem;
  font-family: inherit;
}

/* Logon*/
.appLogon {
  background: white;
}

.left,
.right {
  box-sizing: border-box;
  padding: 2rem 4rem;
}

.left {
  width: 35rem;
  background: #303F9F;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  width: 45rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.appInfo {
  text-align: center;
}

.appName {
  font-size: 3rem;
  font-weight: 400;
  margin: 0;
}

.tagline {
  margin: 0;
  font-weight: 1.2rem;
  margin-top: 1em;
}

.accountForm {
  margin-top: 3rem;
}

.formTitle {
  font-weight: 400;
}

.formInput {
  display: block;
}

.formInput ~ .formInput {
  margin-top: 2rem;
}

.formInputLabel {
  display: block;
  margin-bottom: 0.5rem;
}

.formUserInput {
  box-sizing: border-box;
  padding: 1rem 1.4rem;
  width: 100%;
  border-radius: 0.4rem;
  border: 0.2rem solid #aaa;
  font-size: 1.4em;
  color: inherit;
}

.formUserInput:focus {
  border-color: #333;
}

.button {
  background: #E65100;
  color: white;
  padding: 1.2rem 2rem;
  font: inherit;
  border: 0;
  border-radius: 0.4rem;
}

.button:disabled {
  opacity: 0.5;
  cursor: wait;
}

.additionalInfo {
  margin-top: 4rem;
}

.accountLink {
  color: #E65100;
  text-decoration: none;
  padding: 0.5rem 0;
  border-bottom: 0.1rem dotted transparent;
}

.createAccountLink:hover {
  border-color: #E65100;
  color: #E65100;
}

/* .popUps */
.popUps {
  width: 30rem;
  position: fixed;
  bottom: 10rem;
  left: 9rem;
  z-index: 1;
}

.notification {
  background: white;
  padding: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.1rem 3rem rgba(0, 0, 0, 0.3);
}

.notification ~ .notification {
  margin-top: 1.5rem;
}


/* .topLeft */
.topLeft {
  position: fixed;
  top: 4rem;
  left: 9rem;
}


/* .topRight */
.topRight {
  position: fixed;
  top: 4rem;
  right: 9rem;
}

.hamburger {
  display: block;
  width: 60px;
  height: 60px;
  background: transparent;
  border: none;
  position: absolute;
}

.hamburgerIcon {
  stroke: white;
}

@media (min-width: 426px) {
  .hamburger {
    display: none;
  }
  .chatList {
    position: relative;
    width: 35%;
    transform: translateX(0);
  }
  
  .chatDetails {
    flex: 1;
    margin-left: 1px solid #eee;
  }
}